
body {
    margin: 0;
    padding: 0;
    font-family:'Courier New', Courier, monospace;    
    background: url("https://imgur.com/gDnIQrj.jpg");
    background-color: #ffdcdd;
}

/* styling the nav bar*/

nav {
    background-color: #ffb7c0;
    padding: 15px 0;
    text-align: center;
    border: 2px solid #6b593e;
}
  

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

  
}

nav li {
    margin: 0;
    padding: 0 2.5%;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 20px;
    display: inline-block;
}

nav a:hover {
    background-color: #7f7361;
}

nav a.active {
    background-color: #463a29;
}

h1 {
    color: #392911;
}

h2 {
    color: #392911;
}



/*styling containers on pages*/
.container {
    max-width: 600px;
    margin: 0px;
    background: #ffffff;
    padding: 40px 24px;
    border-radius: 15px;
    border: 6px solid #FFB7C0;
    text-align: center;
}

/*home page styling*/

p {
    color: #392911;
    font-size: 16px;
}

.button {
    display: inline-block;
    margin-top: 16px;
    padding: 4px 8px;
    color: #ffffff;
    background-color: #463a29;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

/*about cookies page styling*/

#cookiesuse {
    color:#392911;
    text-align: left;
}

#aboutcookies { 
    color:#392911;
    font-size: 16px;
    text-align: left;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    
}

table, th, td {
    border: 2px solid #FFB7C0;
    
}

th, td {
    padding: 8px 12px;
    text-align: left;
    color: #392911;
}

th {
    background-color: #FFDCDD;
}

/*effects of cookies styling*/

#cookieseffects {
    color:#392911;
    font-size: 16px;
    text-align: left;
}

/*reference page styling*/

#apa-reference {
    font-size: 16px;
    color: #392911;
    text-align: left;
    
}

/*quiz page styling*/

#quiz {
    text-align: left;

}

#submit {
    display: inline-block;
    margin-top: 16px;
    padding: 6px 12px;
    font-size: 16px;
    color: #ffffff;
    background-color: #463a29;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    text-align: center;
}

#reset {
    display: inline-block;
    margin-top: 16px;
    padding: 6px 12px;
    font-size: 16px;
    color: #ffffff;
    Background-color: #ffb7c0;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    text-align: center;
}

#results {
    padding: 4px 8px;
    text-align: center;
}
